@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&family=Protest+Strike&family=Poppins&display=swap');
@import "tailwindcss";


body {
    font-family: 'Poppins', sans-serif;
    background-color: #e9f9ff ;
}

.font-protest {
    font-family: 'Protest Strike', cursive;
}

.font-encode {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}